.projects
	.projects-link
		width: 100%
		position: relative
		&:hover
			text-decoration: none
		&:hover
			.projects-block-info
				background-color: rgba(#fff, .2)
				&-title
					color: $accent
					font-weight: bold
		.projects-block
			background-size: cover
			background-position: center
			height: 200px
			width: 100%
			&-info
				position: relative
				width: 100%
				height: 100%
				background-color: rgba(#000, .4)
				&-title
					color: $white
					margin-top: 50px
					&:hover
						text-decoration: none
		&-description
			margin-top: 20px
			&-back
				color: $white
				font-weight: bold
				font-size: 10pt
			&-details
				color: $white
				font-weight: regular
				margin-top: 20px
			&-linkto
				color: $accent
				font-weight: bold
				margin-left: 10px
				&:hover
					text-decoration: none
				svg
					margin-left: 5px